/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-Dec-2014, 11:02:07 AM
    Author     : Nick
*/

@keyframes slidein{
    from{
        background-color: transparent;
        color: transparent;        
        border: none;
    }
    to{
        background-color: white;  
        color: black;
        border-color: black;
        border-radius: 5px;
        border-style: solid;
        border-width: 2px;
    }
}
@-webkit-keyframes slidein{
    from{
        background-color: transparent;
        color: transparent;        
        border: none;
    }
    to{
        background-color: white;    
        color: black;    
        border-color: black;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
    }
}
@-moz-keyframes slidein{
    from{
        background-color: transparent;
        color: transparent;     
        border: none;
    }
    to{
        background-color: white;    
        color: black; 
        border-color: black;
        border-radius: 5px;
        border-style: solid;
        border-width: 1px;
    }
}